* {
    padding: 0;
    margin: 0;
}
.botones,
.botones nav ul li a {
    color: floralwhite;
    font-family: 'Poppins', sans-serif;
    vertical-align: center;
}
ul {
    list-style: none;
}
.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}
h3 {
    color: black;
}
h1 {
    display: inline-flex;
    border: 2px;
    color: white;
    list-style: none;
}
a {
    text-decoration: none;
}
.botones h1 {
    font-size: 4rem;
    text-align: left;
}
.botones nav ul li a {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
}
main img {
    display: inline-block;
}
main h2 {
    font-size: 3.5rem;
}
main .imgs {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
}
main .imgs img {
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}
main .videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 5rem;
    align-items: center;
}
main .videos iframe {
    width: 25rem;
    height: 40rem;
}
header nav ul {
    width: auto;
    display: flex;
    justify-content: space-around;
}
header nav ul li {
    border: 3px solid transparent;
    background-color:transparent;
    font-size: 1.5rem;
    padding: 1.3rem 2rem;
}
body {
    background-image: url(../imagenes/wall1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding: 0.5rem;
    grid-area: cabecera;
}

footer a {
    list-style: none;
}
div img {
    height: 3rem;
    width: 5rem;
}
.redes {
    display: grid;
    grid-template-columns: repeat(3);
}
header img {
    display: inline-flex;
    width: 5rem;
    height: 5rem;
}
.botones nav ul li a{
    font-size: 1.5rem;
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 1rem;
    }
    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 89%;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        align-items: center;
    }
}
@media (max-width: 1199.98px) {
    html {
        font-size: 15px;
    }
    header nav div ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 89%;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-items: center;
        align-items: center;
    }

}
@media (max-width: 991.98px){
    html {
        font-size: 15px;
    }
    header nav div ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 89%;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
}
@media (max-width: 767.98px){
    html {
        font-size: 15px;
    }
    header nav div ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 2rem;
        height: 0.2rem;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        justify-items: center;
        align-items: center;
    }
    main .imgs img {
        height: 20rem;
        width: 20rem;
        margin: 1rem;
    }
    header img {
        display: inline-flex;
        width: 5rem;
        height: 6rem;
    }
    main .bass{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .bass img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    main .drum{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .drum img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    main .piano{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .piano img {
        width: 21rem;
        height: 23rem;
        margin: .8rem;
    }
    main .guitars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .guitars img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    .titulo h2 {
        font-size: 3rem;
    }
}
@media (min-width: 576px){
    html {
        font-size: 15px;
    }
    header nav div ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 35rem;
        height: 30rem;
        margin: 2rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        align-items: center;
    }
}
/**
@media(max-width: 800px) {
    header nav div ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 30rem;
        height: 20rem;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .titulo{
        font-size: 3rem;
    }
}**/

/* max: 0 - 500
@media screen and(max-width: 500px) {
    header nav ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    main.imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    main .videos iframe {
        width: 30rem;
        height: 20rem;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .titulo{
        font-size: 3rem;
    }
}*/

@media (max-width: 575.98px){
    html {
        font-size: 15px;
    }
    header nav div ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header nav ul li {
        margin: 1rem;
    }
    main .videos {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    main .videos iframe {
        background-color: red;
        width: 20rem;
        height: 11rem;
        margin: 1rem 1rem;
    }
    main .imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .bass{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .bass img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    main .drum{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .drum img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    main .piano{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .piano img {
        width: 21rem;
        height: 23rem;
        margin: .8rem;
    }
    main .guitars{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    main .guitars img {
        width: 21rem;
        height: 23rem;
        margin: .5rem;
    }
    .titulo h2 {
        font-size: 1.8rem;
    }
    .carousel-item{
        height: 25rem;
        }
        .carousel-item img{ 
            height: 100% !important; 
        }
}
.final{
    display: flex;
    flex-direction: row;
}
.titulo{
    background-color:transparent;
    transition: all 2s;
}
.titulo:hover{
    transform: scale(1.2);
}
.drum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.drum img {
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}
.bass {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.bass img {
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}
.guitars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.guitars img {
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}
.piano {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.piano img {
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}
.imagenes{
    display: grid;
    align-items: center;
    justify-items: center;
}
.carousel-item img{
width: 10rem;
height: 45rem;
}