@import url(./componentes/);
@import url(./base/);
@import url(./parciales/_main.scss);

.botones nav{
    color: black;
    ul{
        list-style: none;
    }
    li {
        a {
            font-family: 'Poppins', sans-serif;
            vertical-align: center;
            font-size: 5rem;
        }
    } 
    h1 {
        font-size: 4rem;
        text-align: left;
    }
}
a{
    text-decoration: none;
}
main {
    img {
        display: inline-block;
    }
    h2{
        font-size: 3.5rem;
    }
    .imgs{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        align-items: center;
    }
    .imgs img{
        height: 30rem;
        width: 30rem;
        margin: 1rem;
    }
    .videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 5rem;
        align-items: center;
    }
    iframe{
        width: 35rem;
        height: 25rem;
    }

}
header{
    padding: 0.5rem;
    grid-area: cabecera;
    nav{
        ul{
            width: auto;
            display: flex;
            justify-content: space-around;
        }
    }
    li{
        border: 3px solid transparent;
        background-color:transparent;
        font-size: 1.5rem;
        padding: 1.3rem 2rem;
    }
}
body{
    background-color: whitesmoke;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: gainsboro;
    a{
        list-style: none;
        color: black;
        font-size: 2rem;
    }
}